.TCPPStimulus {
	text-align: center;
	position: absolute;
	width: 100%;
}

.Stimulus-prime-image-area {
	width: 60%;
	float: left;
	margin-top: -6%;
}

.Stimulus-prime-image-area img {
	width: 100%;
}

.Stimulus-content-left {
	width: 0%;
	margin-top: -5%;
}

.Stimulus-content-left img {
	width: 42%;
}

.Stimulus-content-right {
	width: 19%;
	float: right;
}

/*.Stimulus-content-right img{
	width: 49%;
	float: right;
	text-align: center;
}*/
.Stimulus-choose-area {
	/*background-color: #FFFFCC;*/
}

@keyframes TCPP-stimulus-move-prime
{
	0%   {width: 60%; margin-top: -6%}
	100%  {width: 19%; margin-top:10%;}
}

@-webkit-keyframes TCPP-stimulus-move-prime /* Safari and Chrome */
{
	0%   {width: 60%; margin-top: -6%}
	100%  {width: 19%; margin-top:10%;}
}
